<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ranking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ranking</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>Jugador</ion-col>
      <ion-col>Palabra</ion-col>
      <ion-col>Ganada</ion-col>
      <ion-col>Fecha</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
