<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ranking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ranking</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>Jugador</ion-col>
      <ion-col>Palabra</ion-col>
      <ion-col>Ganada</ion-col>
      <ion-col>Fecha</ion-col>
    </ion-row>

    @if (rangs.length) {
      @for(rang of rangs; track rang.name) {
      <ion-row>
        <ion-col>{{rang.name}}</ion-col>
        <ion-col>{{rang.word}}</ion-col>
        <ion-col>{{rang.points}}</ion-col>
        <ion-col>{{rang.date}}</ion-col>
      </ion-row>
      }
    }
  </ion-grid>
</ion-content>
